@import "tailwindcss";

@theme {
  --color-primary: #078dd7;
  --color-secondary: #ffffff;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
}

.shake:hover {
  animation: shake 0.4s ease-in-out;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width here */
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background-color: black; Track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #078dd7; /* Scrollbar color */
  border-radius: 10px;
}
